* {
  font-family: "Alegreya Sans";
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* to make any child container do not go out the parent container*/
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-rows: auto auto auto;
  background-image: url(../Media/background/welcome-background.jpg);
  background-position: center;
  grid-gap: 20px;
}

#headerNav {
  grid-row: 1/2;
}

/*header*/
header {
  background-color: #27180e;
  background-image: url(../Media/background/wood-background.png);
  width: 100%;
  margin: 0 auto;
  padding: 10px 30px;
  text-align: center;
  color: white;
}

header img {
  width: 20%;
}

/*nav*/
nav {
  background-image: url(../media/background/headerBackground.png);
  box-shadow: inset 8px 8px 50px rgba(0, 0, 0, 0.763);
  width: 100%;
  margin: 0 auto;
  padding: 10px 30px;
  text-align: center;
  font-size: xx-large;
  border-bottom: 1px solid black;
  border-top: 4px solid black;
}

.menu a {
  text-decoration: none;
  font-family: "Alegreya Sans";
  color: #eae2bf;
  padding: 0px 20px;
}

.menu a:hover {
  color: #fcbf49;
  text-shadow: 0px 0px 30px #fdec6e; /* horizontal-shadow vertical-shadow blur-radius color */
}

/*main content*/
main {
  grid-row: 2/3;
  width: 100%;
  min-height: 100vh;

  display: grid;
  grid-template-columns: 20% 80%;
  grid-gap: 5%;
}

.main {
  grid-column: 2/3;
}

.main .sec1,
.sec2 {
  width: 70%;
  padding: 10px;
  border: 1px solid #eae2bf;
  background-color: rgba(0, 0, 0, 0.668);
  border-radius: 15px;
  margin: 20px;
}

.main .sec1 h1,
.sec2 h1 {
  display: flex;
  justify-content: center; /*made text in middile herizontly for flex*/
  color: #ffcb32;
  font-size: 2.5em;
  font-weight: bolder;
  margin-bottom: 10px;
  text-shadow: 0px 0px 20px #f7f6e8;
  font-family: "fantasy ";
}

.main .sec1 p {
  margin: 0 auto;
  color: #eae2bf;
  text-align: center;
  font-size: 25px;
  text-shadow: 0px 0px 30px #ffffff;
  margin-bottom: 10px;
  font-family: "serif ";
}

ul {
  margin: 0 auto;
  color: #eae2bf;
  text-align: left;
  font-size: 25px;
  text-shadow: 0px 0px 30px #ffffff;
  margin-bottom: 10px;
  font-family: "serif ";
}
ul li {
  text-shadow: 0px 0px 30px #ffffff;
  font-family: "serif ";
}

aside {
  width: 100%;
  grid-column: 1/2;
  float: left;
  border: 1px solid #eae2bf;
  background-color: rgba(0, 0, 0, 0.668);
  border-radius: 15px;
  margin: 10px;
  font-size: x-large;
  padding: 20px;
  text-align: center;
}

aside p a {
  display: flex;
  font-size: xx-large;
  color: #eae2bf;
  text-align: left;
  justify-content: left;
  text-decoration: none;
  padding-top: 10px;
  font-family: "serif ";
  border-top: 5px solid black;
}
aside p a:hover {
  color: #fcbf49;
  text-shadow: 0px 0px 30px #fdec6e;
}
aside h4 {
  display: flex;
  justify-content: center;
  color: #ffcb32;
  font-size: 1.5em;
  font-weight: bolder;
  margin-bottom: 10px;
  text-shadow: 0px 0px 20px #f7f6e8;
  font-family: "fantasy ";
}

footer {
  background-color: #27180e;
  padding: 0.05em;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(109, 58, 0);
  border-top: 2px solid rgb(109, 58, 0);
  grid-row: 3/4;
}

.footer p {
  text-shadow: 0px 0px 30px #ffffff;
  color: white;
  font-size: large;
  padding-top: 10px;
  font-weight: 600px;
}

@media (max-width: 600px) {
  /*header*/
  header img {
    width: 30%;
  }
}

@media (max-width: 1500px) and (min-width: 601px) {
  header img {
    width: 40%;
  }
}

@media only screen and (min-width: 992px) {
  .main .sec1 p {
    width: 70%;
  }
}

@media only screen and (min-width: 768px) {
  .main .sec1 p {
    width: 80%;
  }
}

@media only screen and (max-width: 576px) {
  .main .sec1 p {
    width: 100%;
  }
}
