/*body*/
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../media/background/background.jpg);
}

/*header*/
header {
  background-image: url(../media/background/header.jpg);
  background-color: #2f7604;
  text-align: center;
  color: white;
  font-size: 330%;
  width: 100%;
  margin-top: 0;
  font-weight: 900;
}

header p,
header img {
  display: inline-block;
  vertical-align: middle;
}

header img {
  width: 9%;
  float: right;
  margin-right: 100px;
}

header p {
  text-align: center;
}

/*nav*/
nav {
  font-size: 150%;
  padding: 0;
  width: 100%;
  margin-top: -24px;
}

nav ul {
  list-style: none;
  background: #b6d084;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  width: 100%;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
  text-align: center;
}

nav ul li a:hover {
  background-color: #ffcb32;
  color: black;
}

nav ul a.active {
  background-color: #f8ffca;
  color: black;
}

/*foooter*/
footer {
  background-color: #ffcb32;
  color: black;
  text-align: center;
  font-size: 200%;
  width: 100%;
}

/*main content*/
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  width: 90%;
}

/*table*/

table caption {
  font-size: 300%;
}

table thead,
table tbody {
  background-color: rgba(128, 128, 128, 0.137);
}

table thead th:hover,
table tbody tr:hover {
  background-color: #b6d084;
  color: white;
}

table thead th.name {
  text-align: center;
  font-size: xx-large;
  padding: 10px;
}

table tbody tr th {
  text-align: left;
  font-size: x-large;
  width: 11%;
}

table tbody td {
  text-align: center;
  font-size: xx-large;
}

/*table icon*/
table img {
  width: 25%;
}

/*link in table*/
table tbody tr#projects a {
  color: #2f7604;
}

table tbody tr#projects a:hover {
  color: white;
}

table tbody tr td a {
  text-decoration: none;
  color: black;
}

table tbody tr td a:hover {
  background-color: #ffcb32;
  color: white;
}
