* {
  font-family: "Alegreya Sans";
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* to make any child container do not go out the parent container*/
  scroll-behavior: smooth;
}

@media only screen and (min-width: 992px) {
    .main .mainRectangle p {
    width: 70%;
  }


  .menu a {
    font-size: 1.5em;
  }

  header a img {
    width: 12%;
  }
}

@media only screen and (max-width: 992px) {

  header a img {
    width: 16%;
  }
}

@media only screen and (min-width: 768px) {
    .main .mainRectangle p {
    width: 80%;
  }

  .menu a {
    font-size: 1.5em;
  }

}

@media only screen and (max-width: 768px) {
  
  .menu a {
    font-size: 1.5em;
  }

  header a img {
    width: 17%;
  }
}

@media only screen and (max-width: 666px) {
  .menu a {
    font-size: 1em;
  }

  header a img {
    width: 17%;
  }
}

@media only screen and (max-width: 576px) {
    .main .mainRectangle p {
    width: 100%;
  }

  .contact .contactRectangle form .fieledRectangle .radiosRectangle label {
    font-size: 15px;
  }
}

header {
  background-image: url(https://cdn.cbeditz.com/cbeditz/preview/light-wood-light-bulb-background-free-wallpaper-image-nhvlf.png);
  box-shadow: inset 8px 8px 50px rgba(0, 0, 0, 0.763);
  width: 100%;
  margin: 0 auto;
  padding: 10px 30px;
  text-align: center;
  position: fixed;
  z-index: 100;
  border-bottom: 1px solid black;
}

.menu {
  padding-top: 7px;
}


.menu a {
  text-decoration: none;
  font-family: "Alegreya Sans";
  color: #eae2bf;
  padding: 0px 20px;
}

.menu a:hover {
  color: #fcbf49;
  text-shadow: 0px 0px 30px #fdec6e; /* horizontal-shadow vertical-shadow blur-radius color */
}

.main {
  width: 100%;
  min-height: 100vh;
  background-image: url(../Media/background/welcome-background.jpg);
  background-position: center;
  background-attachment: fixed;
  padding-top: 200px;
  padding-bottom: 50px;
}

.main .mainRectangle {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  border: 4px solid #eae2bf;
  background-color: rgba(0, 0, 0, 0.668);
  border-radius: 15px 60px;
  
}

.main .mainRectangle h1 {
  display: flex;
  justify-content: center; /*made text in middile herizontly for flex*/
  color: #ffcb32;
  font-size: 4em;
  font-weight: bolder;
  margin-bottom: 10px;
  text-shadow: 0px 0px 20px #f7f6e8;  
  font-family: "fantasy ";


}

.main .mainRectangle p {
  margin: 0 auto;
  color: #eae2bf;
  text-align: center;
  font-size: 28px;
  text-shadow: 0px 0px 30px #ffffff;
  margin-bottom: 10px;
  font-family: "serif ";

}


